body {
  background: @color-background;
}

#container-main {
  background: linear-gradient(135deg, red, @color-yellow);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

#container-messages {
  bottom: 40px;
  max-width: 400px;
  padding-left: 10px;
  padding-right: 10px;
  position: absolute;
}