body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Karla';
  font-weight: 400;
}

html {
  background: url('https://image.freepik.com/free-vector/tricolor-gradient-background_1095-64.jpg') fixed;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/**
 * Main message container.
 */
#container-messages {
  bottom: 40px;
  margin: 0 auto;
  max-width: 400px;
  padding: 40px 20px;
}

.message-bubble {
  border-radius: 8px;
  display: inline-block;
  font-size: 16px;
  line-height: 22px;
  margin: 2px 0;
  padding: 10px;

  img {
    max-width: 100%;
  }
}

.mt {
  background: @color-mt-bg;
  color: @color-mt-text;
}

.mo {
  background: linear-gradient(0deg, @color-mo-bg-start, @color-mo-bg-end);
  color: @color-mo-text;
  display: inline-block;
  margin-bottom: 20px;
  margin-top: 10px;
}

.mo-container {
  text-align: right;
}

.mo-choice {
  background: @color-mo-bg-start;
  border-radius: 6px;
  color: @color-mo-text;
  cursor: pointer;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 20px;
}

.mo-choice:hover {
  background: @color-mo-bg-end;
}

/**
 * Section that pops up when you make it to the end.
 */
#end-section {
  text-align: center;

  .separator {
    border-top: 2px dotted white;
    margin: 40px;
  }
}