<footer
  data-bottom-top="transform: translate3d(0px,50%,0px)"
  data-bottom-bottom="transform: translate3d(0px,0%,0px)">
  <div class="-social-icons">
    <a class="-icon-facebook" href="https://www.facebook.com/Shine-Text" target="_blank"></a>
    <a class="-icon-instagram" href="https://instagram.com/ShineText" target="_blank"></a>
    <a class="-icon-twitter" href="https://twitter.com/ShineText" target="_blank"></a>
  </div>
  <div class="page-links">
    <a href="/">Get Life Advice</a>
    <a href="http://www.shinetext.com/referrals">Tell Friends</a>
    <a href="http://www.shinetext.com/squad">Squad</a>
    <a href="http://www.shinetext.com/faq">FAQ</a>
    <a href="http://www.shinetext.com/privacy-policy">Privacy Policy</a>
    <a href="http://www.shinetext.com/terms-of-service">Terms of Service</a>
  </div>
</footer>