<div class="navbar">
  <a href="http://www.shinetext.com">
    <img class="shine-logo" src="https://images.contentful.com/awpxl2koull4/FFhnW3pbga4qmCOM24kmc/8c718dac9a5357db86c55b637461f4f3/Shine-logo-web.png?w=100">
  </a>

  <div class="navbar-links-container">
      <div class="navbar-links"><a href="/">Get Life Advice</a></div>
      <div class="navbar-links"><a href="http://www.shinetext.com/referrals">Tell Friends</a></div>
      <div class="navbar-links"><a href="http://www.shinetext.com/squad">Squad</a></div>
  </div>
</div>