body {
  .font-primary;

  border-top: 4px solid @color-yellow;
  background: white;
}

header {
  background-position: center top;
  background-size: 100% auto;
  color: white;
  height: 480px;
  padding-bottom: @margin-md;
  padding-top: @margin-md;
  text-align: center;

  h1 {

  }

  .author {
    font-size: @font-size-normal;
  }

  .category {
    color: @color-yellow;
    text-transform: uppercase;
  }
}